{% extends 'Base/base.html' %}

{% load staticfiles %}

{% block content %}

	<h1 class="orq-title">PERFIL DEL USUARIO</h1>
	<div class="orq-box">
		<div class="row orq-perfil-header">
			<div class="col-4">
				<img class="orq-perfil-img" src="{{ admin.foto.url }}" alt="">
			</div>
			<div class="col-8 orq-perfil-text" id="orq-perfil-text">
				<h2>{{ admin.nombre }} {{ admin.apellido }}</h2>
				<p>admin</p>
			</div>
		</div>
		<div class="row orq-perfil-col">
			<div class="col-6">
				<p class="orq-perfil-title">Cedula:</p>
				<p class="orq-perfil-content">{{ admin.cedula }}</p>
			</div>
			<div class="col-6">
				<p class="orq-perfil-title">Teléfono:</p>
				<p class="orq-perfil-content">{{ admin.telefono }}</p>
			</div>
		</div>
		<div class="row orq-perfil-col">
			<div class="col-4">
				<p class="orq-perfil-title">Mail:</p>
				<p class="orq-perfil-content">{{ admin.email }}</p>
			</div>
		</div>
		<div class="row orq-perfil-col">
			<div class="col-12">
				<p class="orq-perfil-title">Dirección:</p>
				<p class="orq-perfil-content">{{ admin.direccion }}</p>
			</div>
		</div>
	</div>

{% endblock %}