{% extends 'Base/base.html' %}

{% load staticfiles %}

{% block content %}
	{% if registro %}
		<div class="message" id="message">Se agregó correctamente</div>
	{% endif %}
	
	{% if cantidad < 2 %}
		<h1 class="orq-title">ADMINISTRADORES</h1>
		<div class="orq-tabla-agregar">
			<button class="orq-btn agregar" onclick="redireccionar('agregar');"><i class="fa fa-plus"></i> AGREGAR ADMIN</button>
		</div>
	{% else %}
		<h1 class="orq-title" style="padding-bottom: 1.5rem;">ADMINISTRADORES</h1>
	{% endif %}
	<table class="table orq-tabla">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Cédula</th>
				<th>Teléfono</th>
				<th style="width: 120px;"></th>
			</tr>
		</thead>
		<tbody>
			{% if admins %}
				{% for admin in admins %}
					<tr>
						<td style="display: flex;">
							<img class="orq-tabla-img" src="{{ admin.foto.url }}" alt="foto de perfil">
							<p>{{ admin.nombre }} {{admin.apellido}}</p>
						</td>
						<td>{{ admin.cedula }}</td>
						<td>{{ admin.telefono }}</td>
						<td>
							<button class="orq-btn ver" onclick="redireccionar('{{ admin.cedula }}');"><i class="fa fa-eye"></i></button>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td style="text-align: center;" colspan="4">No hay admins registrados</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<script>
		setTimeout(function() {
			document.getElementById('message').classList.add("active");
		},3000);
	</script>
{% endblock %}