{% extends 'Base/base.html' %}

{% load staticfiles %}

{% block content %}
	<h1 class="orq-title" style="padding-bottom: 1.5rem;">CAMBIAR REPRESENTANTE</h1>
	<form class="orq-form" method="POST" id="orq-form" style="min-height: auto;">
		{% csrf_token %}
		<div class="orq-row">
			<div class="orq-col">
				<label>Representante:</label>
				<div class="orq-col-opt">
					{{ form.representante }}
					<button type="button" class="addRepresentante" id="addRepresentante" onclick="modalRepresentante();"><i class='fa fa-plus'></i></button>
				</div>
			</div>
		</div>
		<div class="modal-representante" id="modal-representante">
			<div class="modal-representante-content" id="modal-representante-content">
				<h2 class="orq-title">REGISTRAR REPRESENTANTE</h2>
				<span class="modal-cerrar" onclick="cerrarModal()">&times;</span>
				<div class="orq-form-row flex">
					<div class="orq-form-col">
						<label>Cédula:</label>
						<input class="form-control" id="cedula_rep" maxlength="8" name="cedula_rep" type="number" required placeholder="Cédula" min="1000000" max="99999999" autocomplete="off" onkeypress="len8(event,'cedula_rep');" onpaste="event.preventDefault();" ondragover="event.preventDefault()">
					</div>
					<div class="orq-form-col">
						<label>Nombre:</label>
						<input class="form-control" id="nombre_rep" maxlength="50" name="nombre_rep" type="text" placeholder="Nombre" onkeypress="onlyLetters(event);" onpaste="event.preventDefault();" ondragover="event.preventDefault()">
					</div>
				</div>
				<div class="orq-form-row flex">
					<div class="orq-form-col">
						<label>Apellido:</label>
						<input class="form-control" id="apellido_rep" maxlength="50" name="apellido_rep" type="text" placeholder="Apellido" onkeypress="onlyLetters(event);" onpaste="event.preventDefault();" ondragover="event.preventDefault()">
					</div>
					<div class="orq-form-col">
						<label>Teléfono:</label>
						<input class="form-control" id="telefono_rep" maxlength="11" name="telefono_rep" type="number" placeholder="Teléfono" onkeypress="telefonoEvent(event,'telefono_rep');" onpaste="event.preventDefault();" ondragover="event.preventDefault()">
					</div>
				</div>
				<div class="orq-form-row">
					<label>Dirección</label>
					<textarea class="form-control" id="direccion_rep" name="direccion_rep" placeholder="Dirección"></textarea>
				</div>
				<div class="orq-form-row">
					<label>Email:</label>
					<input class="form-control" id="email_rep" maxlength="50" name="email_rep" type="text" placeholder="Email" ondragover="event.preventDefault()" onpaste="event.preventDefault();" onkeypress="correoNS(event);">
				</div>
				<div class="button-content">
					<button type="button" class="orq-btn" style="margin-bottom: 1rem;" id="guardar-representante" onclick="alumnoRep2();">Guardar</button>
				</div>
			</div>
		</div>
		<div class="button-content">
			<button type="button" class="orq-btn" onclick="cambiarRep();">Guardar</button>
		</div>
	</form>

	<script>
		document.getElementById('id_representante').firstElementChild.textContent = "Seleccione un representante";

		for (var i = 0; i < document.getElementById('modal-representante').getElementsByTagName('input').length; i++) {
			document.getElementById('modal-representante').getElementsByTagName('input')[i].addEventListener('keypress',function(event) {
				if (event.key == 'Enter') {
					document.getElementById('guardar-representante').click();
				}
			})
		}

		document.getElementById('addRepresentante').addEventListener('click',function() {
			document.getElementById('cedula_rep').focus();
		});

		function alumnoRep2() {
			var cedula_rep = document.getElementById('cedula_rep').value;
			var nombre_rep = document.getElementById('nombre_rep').value;
			var apellido_rep = document.getElementById('apellido_rep').value;
			var telefono_rep = document.getElementById('telefono_rep').value;
			var direccion_rep = document.getElementById('direccion_rep').value;
			var email_rep = document.getElementById('email_rep').value;
			
			// Cédula
			var cedulaExist = false;
			for (var i = 0; i < document.getElementById('id_representante').children.length; i++) {
				if (cedula_rep == document.getElementById('id_representante').children[i].textContent) {
					cedulaExist = true;
				}
			}

			//Teléfono
			var telefonoVal = telefonoFull("telefono_rep");

			//Mail
			var valCorreo = false;
			var conCorreo = 0;
			for (var i = 0; i < email_rep.length - 1; i++) {
				if (email_rep[i] == '@') {
					valCorreo = true;
					conCorreo += 1;
				}
			}
			if ((email_rep[0] == '@')||(email_rep[email_rep.length - 1] == '@')) {
				valCorreo = false
			} else if (conCorreo == 1) {
				valCorreo = true;
			} else if (conCorreo != 1) {
				valCorreo = false;
			}
			
			//Condicionales
			if ((cedula_rep == '')||(nombre_rep == '')||(apellido_rep == '')||(telefono_rep == '')||(direccion_rep == '')||(email_rep == '')) {
				alert('Por favor, rellene todos los campos.');
			} else if (cedula_rep < 1000000) {
				alert('Hay un problema con su cédula');
			} else if (cedulaExist) {
				alert('Esta cedula ya está registrada');
			} else if (!valCorreo) {
				alert('Ingrese un correo valido');
			} else if (telefonoVal){
				alert(telefonoVal);
			} else {
				document.getElementById('id_representante').firstElementChild.textContent = cedula_rep;
				document.getElementById('id_representante').required = false;
				//document.getElementById('id_representante').firstElementChild.value = "-1";
				document.getElementById('addRepresentante').innerHTML = "<i class='fa fa-check'></i>";
				document.getElementById('id_representante').classList.add('active');
				document.getElementById('id_representante').selectedIndex = 0;
				cerrarModal();
			}
		}

		function cambiarRep() {
			var id_representante = document.getElementById('id_representante');

			var isVal = true;

			if ((!id_representante.value)&&(!id_representante.classList.contains('active'))) {
				isVal = false;
				alert('Por favor, seleccione o agregue un representante');
			}

			if (isVal) {
				document.getElementById('orq-form').submit();
			}
		}
	</script>

{% endblock %}