{% extends 'Base/base.html' %}

{% load staticfiles %}

{% block content %}
	{% if registro %}
		<div class="message" id="message">Se agregó correctamente</div>
	{% endif %}

	<h1 class="orq-title">INSTRUMENTOS</h1>
	<div class="orq-tabla-agregar">
		<button class="orq-btn agregar" onclick="redireccionar('agregar');"><i class="fa fa-plus"></i> AGREGAR INSTRUMENTO</button>
	</div>
	<table class="table orq-tabla">
		<thead>
			<tr>
				<th style="width: 50px;">#</th>
				<th>Nombre</th>
				<th>Cantidad</th>
				<th style="width: 120px;"></th>
			</tr>
		</thead>
		<tbody>
			{% if instrumentos %}
				{% for instrumento,alumnos in instrumentos %}
					<tr>
						<td>{{ instrumento.id }}</td>
						<td>{{ instrumento.nombre }}</td>
						<td>{{ alumnos }} integrantes</td>
						<td>
							<button class="orq-btn ver" onclick="redireccionar('{{ instrumento.id }}');"><i class="fa fa-eye"></i></button>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td style="text-align: center;" colspan="5">No hay instrumentos registrados</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<script>
		setTimeout(function() {
			document.getElementById('message').classList.add("active");
		},3000);
	</script>
{% endblock %}