{% extends 'Base/base.html' %}

{% load staticfiles %}

{% block content %}
	{% if registro %}
		<div class="message" id="message">Se agregó correctamente</div>
	{% endif %}

	<h1 class="orq-title">PROFESORES</h1>
	<div class="orq-tabla-agregar">
		<button class="orq-btn agregar" onclick="redireccionar('agregar');"><i class="fa fa-plus"></i> AGREGAR PROFESOR</button>
	</div>
	<table class="table orq-tabla">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Cédula</th>
				<th>Instrumento</th>
				<th style="width: 120px;"></th>
			</tr>
		</thead>
		<tbody>
			{% if profesores %}
				{% for profesor in profesores %}
					<tr>
						<td style="display: flex;">
							<img class="orq-tabla-img" src="{{ profesor.foto.url }}" alt="foto de perfil">
							<p>{{ profesor.nombre }} {{profesor.apellido}}</p>
						</td>
						<td>{{ profesor.cedula }}</td>
						<td>{{ profesor.instrumento }}</td>
						<td>
							<button class="orq-btn ver" onclick="redireccionar('{{ profesor.cedula }}');"><i class="fa fa-eye"></i></button>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td style="text-align: center;" colspan="4">No hay profesores registrados</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<script>
		setTimeout(function() {
			document.getElementById('message').classList.add("active");
		},3000);
	</script>
{% endblock %}