{% extends 'Base/base.html' %}

{% load staticfiles %}

{% block content %}
	{% if registro %}
		<div class="message" id="message">Se agregó correctamente</div>
	{% endif %}

	<h1 class="orq-title">REPRESENTANTES</h1>
	<div class="orq-tabla-agregar">
		<button class="orq-btn agregar" onclick="redireccionar('agregar');"><i class="fa fa-plus"></i> AGREGAR REPRESENTANTE</button>
	</div>
	<table class="table orq-tabla">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Cédula</th>
				<th>Teléfono</th>
				<th style="width: 120px;"></th>
			</tr>
		</thead>
		<tbody>
			{% if representantes %}
				{% for representante in representantes %}
					<tr>
						<td>{{ representante.nombre }} {{representante.apellido}}</td>
						<td>{{ representante.cedula }}</td>
						<td>{{ representante.telefono }}</td>
						<td>
							<button class="orq-btn ver" onclick="redireccionar('{{ representante.cedula }}');"><i class="fa fa-eye"></i></button>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td style="text-align: center;" colspan="4">No hay representantes registrados</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<script>
		setTimeout(function() {
			document.getElementById('message').classList.add("active");
		},3000);
	</script>
{% endblock %}